<launch>
    <param name="use_sim_time" value="true"/>

    <node if="0" name="player" pkg="rosbag" type="play" output="screen"
          args="-r 1.0 -q --clock
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-04-46-16_0.bag
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-04-48-57_1.bag
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-04-51-32_2.bag
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-04-54-08_3.bag
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-04-56-42_4.bag
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-04-59-17_5.bag
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-05-01-51_6.bag
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-05-04-27_7.bag
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-05-07-03_8.bag
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-05-09-40_9.bag
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-05-12-17_10.bag
        /home/victor/data/darpa/20200220_DARPA_Urban_Alpha_1/Bear/2020-02-21-05-15-00_11.bag"/>
    <node if="1" name="player" pkg="rosbag" type="play" output="screen"
          args="-r 1.0 -q --clock
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_00.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_01.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_02.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_03.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_04.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_05.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_06.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_07.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_08.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_09.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_10.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_11.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_12.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_13.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_14.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_15.bag
        /media/victor/SSD_1TB/DARPA/20200222_DARPA_Urban_Beta_1/Bear/mission_2020-02-22-09-03-53_16.bag"/>

    <node name="odom_topic_to_tf_node" pkg="voxgraph" type="odom_topic_to_tf_node" output="screen" args="-alsologtostderr"/>

    <node name="voxgraph_mapper" pkg="voxgraph" type="voxgraph_mapping_node" output="screen" args="-alsologtostderr">
<!--          launch-prefix="gdb -ex run &#45;&#45;args">-->
        <rosparam>
            verbose: false
            debug: true
            submap_creation_interval: 10
            auto_pause_rosbag: false
<!--            pointcloud_topic: "/velodyne/point_cloud"-->
            pointcloud_topic: "/velodyne_points"
            subscriber_queue_length: 10
            use_icp_refinement: false
            input_odom_frame: "odom"
            input_base_link_frame: "imu"
            output_mission_frame: "mission"
            output_base_link_frame: "imu_voxgraph"
            output_sensor_frame: "velodyne"
            T_base_link_sensor:
                - [ 0.999987,    -0.00495793, -0.000759009, -0.0271503]
                - [ 0.00495486,   0.99998,    -0.00399064,   0.0450645]
                - [ 0.000778779,  0.00398683,  0.999992,     0.0486125]
                - [ 0,            0,           0,            1]
            tsdf_integrator:
                tsdf_voxel_size: 0.15
                truncation_distance: 0.60
                max_ray_length_m: 20.0
                use_const_weight: true
                use_weight_dropoff: true
                use_sparsity_compensation_factor: true
                sparsity_compensation_factor: 20.0
                # integration_order_mode: "sorted"
            measurements:
                submap_registration:
                    enabled: true
                    sampling_ratio: 0.05
                    registration_method: "explicit_to_implicit"
                    information_matrix:
                        x_x:     1.0
                        y_y:     1.0
                        z_z:     1.0
                        yaw_yaw: 1.0
                odometry:
                    enabled: true
                    information_matrix:
                        x_x:     100.0
                        y_y:     100.0
                        z_z:     5000.0
                        yaw_yaw: 5000.0
                height:
                    enabled: false
                    information_zz: 2500.0
        </rosparam>
    </node>

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

    <!--    <include file="$(find lidar_undistortion)/launch/os1_undistortion.launch"/>-->

    <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen"/>
</launch>
