<launch>
    <node name="mapper_test_bench" pkg="voxgraph" type="mapper_test_bench" output="screen">
        <!--  launch-prefix="gdb -ex run &#45;&#45;args">-->
        <rosparam file="$(find voxgraph)/cfg/odometry_simulator.yaml"/>
        <rosparam file="$(find voxgraph)/cfg/voxgraph_mapper.yaml"/>
        <rosparam file="$(find voxgraph)/cfg/mapper_test_bench.yaml"/>
    </node>

    <arg name="rviz_file" default="$(find voxgraph)/cfg/mapper_test_bench.rviz" />
    <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" args="-d $(arg rviz_file)" output="screen"/>
</launch>